h1 {
 color: brown;
}

body{
    background-image: url(image/1.jpg);
    background-size: 100%;
}

.messange{
    color: rgb(39, 133, 240);
    background-color: rgb(255, 238, 183);
    border: 3px solid #323232;
    font-size: 30px;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    opacity: 0.7;
    text-align: center;
    
}
